* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #141414;
    top: 0;
    z-index: 999;
}

main {
    margin-top: 100px;
    height: 700px;
    width: 100%;
}

#film-results {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap

}

#header-left {
    width: 60%;
    height: 100%;
    float: left;
}

#logo-container {
    width: 15%;
    padding: 13px 10px;
    float: left;
}

#logo {
    width: 100%;
    height: 50px;
}

#header-right {
    height: 100%;
    width: 40%;
    float: right;
    margin: auto;
}

#return-box {
    width: 20%;
    float: right;
    padding: 30.5px 0;
    margin-right: 30px;
}

#return-box a {
    color: white;
    text-decoration: none;
}

#search {
    width: 50%;
    float: right;
    padding: 24px 20px;
}

#search-icon {
    float: left;
    width: 20%;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    border-right: none;
    color: white;
    padding: 4.5px 0;
    cursor: pointer;
}

#search-bar {
    float: left;
    width: 70%;
}

#search-bar input {
    width: 100%;
    height: 30px;
    border: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding-left: 10px;
}

.none {
    display: none;
}

.active {
    display: block;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.home-page {
    width: 100%;
    padding: 0 16px;
}

.your-list-film {
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.your-list-film img {
    width: 320px;
}

.film {
    height: 513px;
    width: 342px;
    margin: 5px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.film:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    font-size: 16px;
    overflow-y: scroll;
    padding: 10px;
}

.flip-card-back p {
    margin-bottom: 10px;
}

.flip-card-back p span {
    font-weight: bold;
}

.lingua img {
    height: 15px;
    width: 25px;
}
